src/main/resources/wsdls/ProductService_10.01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ProductServiceImplService" targetNamespace="http://service.product.soap.biscuit.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.product.soap.biscuit.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://service.product.soap.biscuit.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.product.soap.biscuit.com/">
  <xs:element name="getAllProductValuation" type="tns:getAllProductValuation"/>
  <xs:element name="getAllProductValuationResponse" type="tns:getAllProductValuationResponse"/>
  <xs:element name="getProductDetailByProId" type="tns:getProductDetailByProId"/>
  <xs:element name="getProductDetailByProIdResponse" type="tns:getProductDetailByProIdResponse"/>
  <xs:complexType name="getAllProductValuation">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:productValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="proValuation" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllProductValuationResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:productValuationDetails"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productValuationDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="marketValue" type="xs:string"/>
      <xs:element minOccurs="0" name="productName" type="xs:string"/>
      <xs:element minOccurs="0" name="productValue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="messages" type="tns:messagesType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="messagesType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="message" nillable="true" type="tns:messageType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="messageType">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="text" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductDetailByProId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:productIdentity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="productId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductDetailByProIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:productDetails"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productDetails">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="marketValue" type="xs:string"/>
      <xs:element minOccurs="0" name="productName" type="xs:string"/>
      <xs:element minOccurs="0" name="productType" type="xs:string"/>
      <xs:element minOccurs="0" name="productValue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="serviceFault" nillable="true" type="tns:serviceFault"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getProductDetailByProIdResponse">
    <wsdl:part name="parameters" element="tns:getProductDetailByProIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllProductValuation">
    <wsdl:part name="parameters" element="tns:getAllProductValuation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllProductValuationResponse">
    <wsdl:part name="parameters" element="tns:getAllProductValuationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProductServiceFault">
    <wsdl:part name="ProductServiceFault" element="tns:serviceFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductDetailByProId">
    <wsdl:part name="parameters" element="tns:getProductDetailByProId">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProductService">
    <wsdl:operation name="getAllProductValuation">
      <wsdl:input name="getAllProductValuation" message="tns:getAllProductValuation">
    </wsdl:input>
      <wsdl:output name="getAllProductValuationResponse" message="tns:getAllProductValuationResponse">
    </wsdl:output>
      <wsdl:fault name="ProductServiceFault" message="tns:ProductServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductDetailByProId">
      <wsdl:input name="getProductDetailByProId" message="tns:getProductDetailByProId">
    </wsdl:input>
      <wsdl:output name="getProductDetailByProIdResponse" message="tns:getProductDetailByProIdResponse">
    </wsdl:output>
      <wsdl:fault name="ProductServiceFault" message="tns:ProductServiceFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductServiceImplServiceSoapBinding" type="tns:ProductService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllProductValuation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllProductValuation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllProductValuationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProductServiceFault">
        <soap:fault name="ProductServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductDetailByProId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProductDetailByProId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductDetailByProIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProductServiceFault">
        <soap:fault name="ProductServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductServiceImplService">
    <wsdl:port name="ProductServiceImplPort" binding="tns:ProductServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:8080/ProductService/10.01"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
