src/main/resources/wsdls/ProductService_13.04.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ProductServiceImplService" targetNamespace="http://service.product.soap.biscuit.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.product.soap.biscuit.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://service.product.soap.biscuit.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.product.soap.biscuit.com/">
  <xs:element name="getAllBrandBiscuitTypeBySeason" type="tns:getAllBrandBiscuitTypeBySeason"/>
  <xs:element name="getAllBrandBiscuitTypeBySeasonResponse" type="tns:getAllBrandBiscuitTypeBySeasonResponse"/>
  <xs:element name="getAllProductValuation" type="tns:getAllProductValuation"/>
  <xs:element name="getAllProductValuationResponse" type="tns:getAllProductValuationResponse"/>
  <xs:element name="getBiscuitByBrandType" type="tns:getBiscuitByBrandType"/>
  <xs:element name="getBiscuitByBrandTypeResponse" type="tns:getBiscuitByBrandTypeResponse"/>
  <xs:element name="getBiscuitByStock" type="tns:getBiscuitByStock"/>
  <xs:element name="getBiscuitByStockResponse" type="tns:getBiscuitByStockResponse"/>
  <xs:element name="getBiscuitDetailsById" type="tns:getBiscuitDetailsById"/>
  <xs:element name="getBiscuitDetailsByIdResponse" type="tns:getBiscuitDetailsByIdResponse"/>
  <xs:element name="getProductDetailByProId" type="tns:getProductDetailByProId"/>
  <xs:element name="getProductDetailByProIdResponse" type="tns:getProductDetailByProIdResponse"/>
  <xs:element name="getProductMarketRate" type="tns:getProductMarketRate"/>
  <xs:element name="getProductMarketRateResponse" type="tns:getProductMarketRateResponse"/>
  <xs:element name="getProductName" type="tns:getProductName"/>
  <xs:element name="getProductNameResponse" type="tns:getProductNameResponse"/>
  <xs:element name="getProductType" type="tns:getProductType"/>
  <xs:element name="getProductTypeResponse" type="tns:getProductTypeResponse"/>
  <xs:complexType name="getProductType">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:productIdentity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="productId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductTypeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:productType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productType">
    <xs:sequence>
      <xs:element minOccurs="0" name="productType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="messages" type="tns:messagesType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="messagesType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="message" nillable="true" type="tns:messageType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="messageType">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="text" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBiscuitByStock">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:biscuitIdentity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biscuitIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="biscuitId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBiscuitByStockResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:brandStock"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="brandStock">
    <xs:sequence>
      <xs:element minOccurs="0" name="biscuitBrand" type="xs:string"/>
      <xs:element minOccurs="0" name="biscuitStock" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:productIdentity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:productName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productName">
    <xs:sequence>
      <xs:element minOccurs="0" name="productName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllProductValuation">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:productValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="proValuation" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllProductValuationResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:productValuationDetails"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productValuationDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="marketValue" type="xs:string"/>
      <xs:element minOccurs="0" name="productName" type="xs:string"/>
      <xs:element minOccurs="0" name="productValue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductMarketRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:productIdentity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductMarketRateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:productMarketRate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productMarketRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="prodMarketRate" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBiscuitByBrandType">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:biscuitName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biscuitName">
    <xs:sequence>
      <xs:element minOccurs="0" name="biscuitName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBiscuitByBrandTypeResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:brandName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="brandName">
    <xs:sequence>
      <xs:element minOccurs="0" name="biscuitBrand" type="xs:string"/>
      <xs:element minOccurs="0" name="biscuitType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBiscuitDetailsById">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:biscuitIdentity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBiscuitDetailsByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:biscuitDetails"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biscuitDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="biscuitBrandName" type="xs:string"/>
      <xs:element name="biscuitId" type="xs:int"/>
      <xs:element minOccurs="0" name="biscuitName" type="xs:string"/>
      <xs:element minOccurs="0" name="biscuitStock" type="xs:string"/>
      <xs:element minOccurs="0" name="biscuitType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllBrandBiscuitTypeBySeason">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllBrandBiscuitTypeBySeasonResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:biscuitType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biscuitType">
    <xs:sequence>
      <xs:element minOccurs="0" name="biscuitName" type="xs:string"/>
      <xs:element minOccurs="0" name="biscuitType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductDetailByProId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:productIdentity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductDetailByProIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:productDetails"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productDetails">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="marketValue" type="xs:string"/>
      <xs:element minOccurs="0" name="productName" type="xs:string"/>
      <xs:element minOccurs="0" name="productType" type="xs:string"/>
      <xs:element minOccurs="0" name="productValue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="serviceFault" nillable="true" type="tns:serviceFault"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getBiscuitByStockResponse">
    <wsdl:part name="parameters" element="tns:getBiscuitByStockResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductDetailByProIdResponse">
    <wsdl:part name="parameters" element="tns:getProductDetailByProIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBiscuitByStock">
    <wsdl:part name="parameters" element="tns:getBiscuitByStock">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductName">
    <wsdl:part name="parameters" element="tns:getProductName">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductMarketRateResponse">
    <wsdl:part name="parameters" element="tns:getProductMarketRateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBiscuitByBrandTypeResponse">
    <wsdl:part name="parameters" element="tns:getBiscuitByBrandTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductMarketRate">
    <wsdl:part name="parameters" element="tns:getProductMarketRate">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProductServiceFault">
    <wsdl:part name="ProductServiceFault" element="tns:serviceFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductTypeResponse">
    <wsdl:part name="parameters" element="tns:getProductTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductType">
    <wsdl:part name="parameters" element="tns:getProductType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBiscuitDetailsByIdResponse">
    <wsdl:part name="parameters" element="tns:getBiscuitDetailsByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductNameResponse">
    <wsdl:part name="parameters" element="tns:getProductNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllProductValuation">
    <wsdl:part name="parameters" element="tns:getAllProductValuation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllBrandBiscuitTypeBySeasonResponse">
    <wsdl:part name="parameters" element="tns:getAllBrandBiscuitTypeBySeasonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllProductValuationResponse">
    <wsdl:part name="parameters" element="tns:getAllProductValuationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBiscuitByBrandType">
    <wsdl:part name="parameters" element="tns:getBiscuitByBrandType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBiscuitDetailsById">
    <wsdl:part name="parameters" element="tns:getBiscuitDetailsById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllBrandBiscuitTypeBySeason">
    <wsdl:part name="parameters" element="tns:getAllBrandBiscuitTypeBySeason">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductDetailByProId">
    <wsdl:part name="parameters" element="tns:getProductDetailByProId">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProductService">
    <wsdl:operation name="getProductType">
      <wsdl:input name="getProductType" message="tns:getProductType">
    </wsdl:input>
      <wsdl:output name="getProductTypeResponse" message="tns:getProductTypeResponse">
    </wsdl:output>
      <wsdl:fault name="ProductServiceFault" message="tns:ProductServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBiscuitByStock">
      <wsdl:input name="getBiscuitByStock" message="tns:getBiscuitByStock">
    </wsdl:input>
      <wsdl:output name="getBiscuitByStockResponse" message="tns:getBiscuitByStockResponse">
    </wsdl:output>
      <wsdl:fault name="ProductServiceFault" message="tns:ProductServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductName">
      <wsdl:input name="getProductName" message="tns:getProductName">
    </wsdl:input>
      <wsdl:output name="getProductNameResponse" message="tns:getProductNameResponse">
    </wsdl:output>
      <wsdl:fault name="ProductServiceFault" message="tns:ProductServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllProductValuation">
      <wsdl:input name="getAllProductValuation" message="tns:getAllProductValuation">
    </wsdl:input>
      <wsdl:output name="getAllProductValuationResponse" message="tns:getAllProductValuationResponse">
    </wsdl:output>
      <wsdl:fault name="ProductServiceFault" message="tns:ProductServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductMarketRate">
      <wsdl:input name="getProductMarketRate" message="tns:getProductMarketRate">
    </wsdl:input>
      <wsdl:output name="getProductMarketRateResponse" message="tns:getProductMarketRateResponse">
    </wsdl:output>
      <wsdl:fault name="ProductServiceFault" message="tns:ProductServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBiscuitByBrandType">
      <wsdl:input name="getBiscuitByBrandType" message="tns:getBiscuitByBrandType">
    </wsdl:input>
      <wsdl:output name="getBiscuitByBrandTypeResponse" message="tns:getBiscuitByBrandTypeResponse">
    </wsdl:output>
      <wsdl:fault name="ProductServiceFault" message="tns:ProductServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBiscuitDetailsById">
      <wsdl:input name="getBiscuitDetailsById" message="tns:getBiscuitDetailsById">
    </wsdl:input>
      <wsdl:output name="getBiscuitDetailsByIdResponse" message="tns:getBiscuitDetailsByIdResponse">
    </wsdl:output>
      <wsdl:fault name="ProductServiceFault" message="tns:ProductServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllBrandBiscuitTypeBySeason">
      <wsdl:input name="getAllBrandBiscuitTypeBySeason" message="tns:getAllBrandBiscuitTypeBySeason">
    </wsdl:input>
      <wsdl:output name="getAllBrandBiscuitTypeBySeasonResponse" message="tns:getAllBrandBiscuitTypeBySeasonResponse">
    </wsdl:output>
      <wsdl:fault name="ProductServiceFault" message="tns:ProductServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductDetailByProId">
      <wsdl:input name="getProductDetailByProId" message="tns:getProductDetailByProId">
    </wsdl:input>
      <wsdl:output name="getProductDetailByProIdResponse" message="tns:getProductDetailByProIdResponse">
    </wsdl:output>
      <wsdl:fault name="ProductServiceFault" message="tns:ProductServiceFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductServiceImplServiceSoapBinding" type="tns:ProductService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getProductType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProductType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProductServiceFault">
        <soap:fault name="ProductServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBiscuitByStock">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBiscuitByStock">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBiscuitByStockResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProductServiceFault">
        <soap:fault name="ProductServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProductName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProductServiceFault">
        <soap:fault name="ProductServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllProductValuation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllProductValuation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllProductValuationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProductServiceFault">
        <soap:fault name="ProductServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductMarketRate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProductMarketRate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductMarketRateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProductServiceFault">
        <soap:fault name="ProductServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBiscuitByBrandType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBiscuitByBrandType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBiscuitByBrandTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProductServiceFault">
        <soap:fault name="ProductServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBiscuitDetailsById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBiscuitDetailsById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBiscuitDetailsByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProductServiceFault">
        <soap:fault name="ProductServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllBrandBiscuitTypeBySeason">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllBrandBiscuitTypeBySeason">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllBrandBiscuitTypeBySeasonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProductServiceFault">
        <soap:fault name="ProductServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductDetailByProId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProductDetailByProId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductDetailByProIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProductServiceFault">
        <soap:fault name="ProductServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductServiceImplService">
    <wsdl:port name="ProductServiceImplPort" binding="tns:ProductServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:8080/ProductService/13.04"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
